
/**
* Main Style-Sheet. Please put here only globally applied styles.
*
* | The Content
* |-----------------------------
* | 1.  Settings -> Variables, Mixins, Predefined Classes
* | 2.  HTML Overwrites + Normalize
* | 3.  Navigation
* | 4.  Common elements(buttons, spans, ect)
* | 5.  Navigation
* | 6.  Blocks
* |     8.1 Header/Hero Block
* |     8.2 Blog Post Block
* |     8.3 ---can add moar here
* | 7. Forms
* | 8. Footer
* |     12.1 Return to top link
* | 9. Media Queries
*/

/* 1. SETTINGS TO IMPORT BEELOWWWW */

@import '_partials/settings';

/* 2. NORMALIZE */

@import '_partials/normalize';

body {
    font-family: $main-font;
    background: $bg-grey-lightest;
    position: relative;
}

h1 {
    margin: 0;
}

ul, ol {
    margin:0;
    padding:0;
    list-style:none;
}


/* 3. NAVIGATION */

@import '_partials/navigation';

/* 4. COMMON ELEMENTS */

//===posts and main content===//
.content {
    width: calc(100vw - 300px);
    position: absolute;
    right: 0;
    padding: 3%;
}

.content-inner {
    display:flex;
    flex-wrap:wrap;
}

.post {
    background: white;
    padding: 20px 15px;
    margin:25px 15px;
    box-shadow: 0 0 25px -5px rgba(0,0,0,.15);
    flex: 1 1 auto;
}

.post-title { 
    a {
        color:$blue; 
      }
}

.post-meta {
    a {
    color:black;
    text-decoration: none;
    }
}