
/**
* Main Style-Sheet. Please put here only globally applied styles.
*
* | The Content
* |-----------------------------
* | 1.  Settings -> Variables, Mixins, Predefined Classes
* | 2.  HTML Overwrites + Normalize
* | 3.  Navigation
* | 4.  Common elements(buttons, spans, ect)
* | 5.  Navigation
* | 6.  Blocks
* |     8.1 Header/Hero Block
* |     8.2 Blog Post Block
* |     8.3 ---can add moar here
* | 7. Forms
* | 8. Footer
* |     12.1 Return to top link
* | 9. Media Queries
*/

/* 1. SETTINGS TO IMPORT BEELOWWWW */

@import '_partials/settings';

/* 2. NORMALIZE */

@import '_partials/normalize';

body {
    font-family: $header-font;
    position: relative;
    color: $bg-grey-dark;
}

p {
    font-family: $main-font;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: $blue2;
    text-decoration: none;
    transition: $transition;
    &:hover {
        color:$bg-grey-light;
    } 
}


/* 3. NAVIGATION */

@import '_partials/navigation';

/* 4. COMMON ELEMENTS */

//===posts and main content===//

.content {
    width: calc(100vw - 300px);
    position: absolute;
    z-index: -2;
    right: 0;
    top: 20px;
    min-height: 100vh;
}

.content-inner {
    display:flex;
    flex-wrap:wrap;
    padding: 1% 5%;
}

.back-home {
    padding: 50px;
    a {
        border: 1px solid rgba(255,255,255,0.5);
        padding: 10px 20px;
        color: rgba(255,255,255,0.95);
        border-radius: 2px;
        background: rgba(0,0,0,0.25);        
        &:hover {
            background: rgba(255,255,255,0.15);
        }
    }
}

//===Posts Page===//

.post-template {
    .content {
        padding: 0px 50px;
        .post-content {
            p {
                line-height: 1.5;
            }
        }
        header.hero {
            background-position: center;
            background-size: cover;
            height: 350px;
            margin: -20px -50px 20px;
        }
    }
}

//===Home Page===//

.home-template {
    .post-block{
        flex: 0 1 auto;
        width: 280px;
        color: $bg-grey-regular;
        margin: 0px auto 50px;
        &:hover {
            color: $bg-grey-regular;
        }
        .post {
            background: rgba(255,255,255,0.95);
            margin-bottom:40px;
            box-shadow: 0 1px 8px rgba(0,0,0,.1);
            line-height: 1.5;
            transition: 0.25s all ease;
            height: 300px;
            overflow: auto;
            position: relative;
            margin: 0px 5%;
            &:hover {
                box-shadow: 0 1px 8px rgba(0,0,0,.2);        
                transform: scale(1.01);
            }
            .post-header {
                height: 50%;
                background-color: $blue;
                background-repeat: none;
                background-size: cover;
                background-position: center;
            }
            .post-title { 
                a {
                    color:rgba(black,$opacity-inactive);
                    font-size:1.5rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        color:rgba(black,$opacity-active);
                    }
                }
            }
            .read-more {
                text-align: right;
            }
            .read-more {
                position: absolute;
                right: 15px;
                bottom: 0;
                p {
                    font-size: 0.8rem;
                    font-family: $header-font;
                }
            }
            .post-excerpt {
                height: 150px;
                padding: 20px;
                .post-title {
                    line-height: 1;
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin: 0;
                }
                .post-excerpt-content {
                    p {
                        font-size: 0.9rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}