
/**
* Main Style-Sheet. Please put here only globally applied styles.
*
* | The Content
* |-----------------------------
* | 1.  Settings -> Variables, Mixins, Predefined Classes
* | 2.  HTML Overwrites + Normalize
* | 3.  Navigation
* | 4.  Common elements(buttons, spans, ect)
* | 5.  Navigation
* | 6.  Blocks
* |     8.1 Header/Hero Block
* |     8.2 Blog Post Block
* |     8.3 ---can add moar here
* | 7. Forms
* | 8. Footer
* |     12.1 Return to top link
* | 9. Media Queries
*/

/* 1. SETTINGS TO IMPORT BEELOWWWW */

@import '_partials/settings';

/* 2. NORMALIZE */

@import '_partials/normalize';

body {
    font-family: $body-font;
    background: $bg-grey-lightest;
    position: relative;
    color: $bg-grey-dark;
}

h1, h2 {
    margin: 0;
}

ul, ol {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color: $yellow;
    text-decoration: none;
    transition: $transition;
    &:hover {
        color:$bg-grey-light;
    } 
}


/* 3. NAVIGATION */

@import '_partials/navigation';

/* 4. COMMON ELEMENTS */

//===posts and main content===//

header.main-header {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.post-header {
    margin-bottom: 20px;
}

.content {
    width: calc(100vw - 300px);
    position: absolute;
    right: 0;
    top: 0;
    padding: 3%;
}

.content-inner {
    display:flex;
    flex-wrap:wrap;
}

.post {
    background: white;
    padding: 30px;
    margin-right:10px;
    margin-bottom:10px;
    box-shadow: 0 0 25px -5px rgba(0,0,0,.15);
    flex: 1 1 auto;
    line-height: 1.5;
    width: 100%;
}

.post-title { 
    a {
        font-size:1.5rem;
        text-decoration: none;
        text-transform: uppercase;
      }
}

.post-meta {
    display:flex;
    a {
        color: $bg-grey-light;
    }

    time {
        margin-left:auto;
        color: $bg-grey-light;
    }
}

.read-more {
    text-align: right;
}

.back-home {
    margin-bottom: 30px;
}