.nav {
    background: $bg-grey-lighter;
    height:100%;
    position:fixed;
    width:300px;
    padding:0;
    margin:0;
    text-align: center;
    header {
        padding: 75px 0 40px;
        hr {
            margin: 50px auto 0;
        }
    }
    hr {
        width: 60%;
        border: none;
        border-bottom: 1px solid lighten($bg-grey-light, 15%);
        margin-top: 40px;
    }
    h1 {
        font-size:2.2rem;
    }

    h1, .nav-tagline {
        text-align: center;

    }

    .nav-tagline{
        font-family: $main-font;
        font-size: 1.3rem;
    }
    li {
        a {
            width:100%;
            display:block;
            padding:20px 35px;
            color:$bg-grey-regular;
            transition:0.25s ease all;
            text-decoration: none;
            &:hover {
                color:$blue;
            }
        }
    }

    .tags{
        margin-top:25px;
        display:flex;

        li {
            background:$bg-grey-light;
            margin:2px;
            padding:2px;
        }
    }
    footer {
        margin-top: 40px;
        font-size: 0.8rem;
        color: $bg-grey-light;
        .poweredby {
            a {
                color: $bg-grey-light;
                font-weight: bold;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}
