
// COLORS
$bg-grey-dark:#424242;
$bg-grey-darker:#303030;
$bg-grey-darkest:#212121;


$opacity-active:1;
$opacity-inactive:0.68;

//FONTS
$main-font:'Ubuntu', sans-serif;
$accent-font:'VT323', monospace;


//MIXINS